div.search{
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.input-grupo{    
    border-radius: 15px;
}

form.search-bar{
    color: white;
    width: 100%;
    background-color: #f0a48a;
    border-radius: 60px;
}

::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.688);
}

.search-bar input{
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    border:0.1em solid #fef9f8;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #ef9273;

}
.search-bar button:hover{
    color:#ef9273;
    border:0.1em solid #fef9f8;
    background-color:#bf745b;
}